# temp and test files

tmp

#serv file containing connection settings

serv_with_settings


# run npm install to the node dependencies

node_modules


# these are build by running ./bake so do not check them in

js/text.json
www/js/didat.js
www/js/didat.min.js

