/*	RESETS
	============================================= */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:top;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}	/* Resets */

a,img{border:0; outline:none;}textarea:focus,input:focus{outline:0;}*:focus{outline:0;}

img						{-webkit-filter:brightness(200%); filter:brightness(200%);}

body,html 				{background:none; color:rgba(31,30,29,1); width:100%; height:100%; margin:0; padding:0; font-family:'FiraSans', sans-serif; text-rendering:optimizelegibility; word-wrap:break-word;}
html					{background-color:#FFF;}
body					{font-size:14px; line-height:21px;}


/*	Links & fonts
	============================================= */
a						{-webkit-transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out; -ms-transition:all .2s ease-in-out; transition:all .2s ease-in-out; cursor:pointer;}
a:focus					{text-decoration:underline;}
a:link  				{color:inherit; text-decoration:none;}
a:visited				{color:inherit; text-decoration:none;}
a:hover					{color:inherit; text-decoration:none;}
a:active				{color:inherit; text-decoration:none;}
em, i, .italic			{font-style:italic; color:inherit;}
strong, b, .bold		{font-weight:bold; color:inherit;}
.underline				{text-decoration:underline; color:inherit;}
:focus					{outline:2px solid #53B4ED; outline:-webkit-focus-ring-color auto 5px;}
:-moz-focusring			{outline:2px solid #53B4ED;}

@font-face {
font-family: 'FiraSans';
src: url('fonts/FiraSans-Regular.eot');
src: local('☺'), url('fonts/FiraSans-Regular.woff') format('woff'), url('fonts/FiraSans-Regular.ttf') format('truetype'), url('fonts/FiraSans-Regular.svg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'FiraSans-Bold';
src: url('fonts/FiraSans-Bold.eot');
src: local('☺'), url('fonts/FiraSans-Bold.woff') format('woff'), url('fonts/FiraSans-Bold.ttf') format('truetype'), url('fonts/FiraSans-Bold.svg') format('svg');
font-weight: normal;
font-style: normal;
}


/*	Wrappers
	============================================= */
.main_wrap			{width:100%; height:100%; margin:0 auto; display:table; box-sizing:border-box;}
.cont_wrap			{width:1170px; margin:0 auto; box-sizing:border-box; padding:0 15px; display:table-cell;}
.parts.wrap			{width:1170px; margin:0 auto; box-sizing:border-box; padding-top:40px; text-align:center;}
.navi_wrap			{width:100%; margin:0 auto; background-color:#ba0c2f; box-shadow:0 0 16px rgba(0,0,0,.3);}
.foot_wrap			{width:100%; margin:0 auto; display:table-footer-group; height:1px; background-color:#1f1e1d;}
.navi, .foot		{width:1170px; margin:0 auto; box-sizing:border-box; padding:10px 15px 15px 15px;}
.navi				{height:60px;}
.navi_opt			{display:inline-block; vertical-align:text-bottom;}
.navi_opt.info		{width:1008px; text-align:right;}
.navi_opt span		{color:#FFF; font-size:1em; font-family:'FiraSans-Bold',sans-serif;}
.foot_copy span		{color:#FFF; font-size:1em; font-family:'FiraSans',sans-serif;}
.foot_copy			{padding:2em 0;}

#results			{width:1170px; margin:0 auto; box-sizing:border-box;}
.search_wrap		{width:960px; margin:0 auto; padding:40px 0; text-align:center;}
.table_wrap			{width:1170px; margin:0 auto; padding:0; overflow-x:scroll; margin-bottom:40px;}
.filter_wrap		{width:960px; position:relative; padding-bottom:20px;}
.query				{width:960px; margin:0 auto;}


/*	Query block
	============================================= */
.query			{padding-top:40px;}
.type			{width:960px; height:180px; padding:8px 12px; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; outline:none; border:1px solid #ccc;}
textarea.type	{font-size:1.1em; line-height:1.45em;font-family:'FiraSans',sans-serif; color:rgba(31,30,29,1);}


/*	Results Table
	============================================= */
table		{width:100%; margin-bottom:40px;}	
td			{border-top:1px solid #ccc; border-left:1px solid #ccc; padding:10px; font-size:0.9em; line-height:1.3em;}
tr:last-of-type td	{border-bottom:1px solid #ccc;}
th			{text-align:left; border-left:1px solid #ccc; border-top:1px solid #ccc; padding:10px; font-size:0.9em; font-weight:bold;}

th.result_purpose_name, th.result_sector_name, th.result_channel_name, th.result_channel_reported_name,
th.result_region_name		{min-width:250px;}

th.result_short_description, th.result_project_title,
th.result_long_description	{min-width:300px;}

td.result_long_description span	{max-height:200px; display:block; overflow-y:auto; line-height:normal;}
	

/*	Filter Options
	============================================= */
a.filter			{display:block; text-transform:uppercase; color:#ba0c2f; font-weight:bold; line-height:1; background-color:#f1f1f1; padding:10px; width:100px; text-align:center; position:absolute; right:0;}
a.filter.close		{left:0; width:140px;}
a.filter span		{color:#1f1e1d;}
a.filter:hover span	{color:#ba0c2f;}


/*	Filter Buttons
	============================================= */
.butt_wrap			{padding:10px 0; display:inline-block; vertical-align:top; width:480px; box-sizing:border-box;}
.butt_wrap:nth-of-type(even) .butt.name	{margin-left:40px;}
.butt				{-webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; border:1px solid #ccc; padding:10px; display:inline-block; vertical-align:top; width:200px; box-sizing:border-box; position:relative; font-size:1.2em; line-height:1;}
.butt.name			{border-radius:8px 0 0 8px;}
.butt.no			{border-top:0;}
.butt.name.no		{border:0;}
.butt.or			{border-radius:0; border-left:0; border-right:0; width:40px; text-align:center;}
.butt.or.no			{border-left:1px solid #ccc;}
.butt.select		{border-radius:0 8px 8px 0;}
.butt span			{position:absolute; right:15px; color:#666;}


/*	Search Buttons
	============================================= */
a.results			{display:inline-block; vertical-align:top; background-color:#1f1e1d; border-radius:4px; padding:10px 20px; text-align:center; color:#FFF; font-size:1.2em;}
a.results:hover		{box-shadow:0 1px 6px rgba(0,0,0,.3);}
#buttons			{text-align:center; margin-bottom:80px;}

.line_text , part_line_sql_select , part_line_sql_column , part_line_sql_from , part_line_sql_table , part_line_sql_where 
{ width:600px; }

